<div class="search">
  <p class="search-text">Tìm kiếm</p>
  <mat-form-field>
    <mat-label>Tên</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <div class="button">
    <button type="button" class="btn btn-primary search-color">
      <i class="fa-solid fa-magnifying-glass"></i>
      Tìm kiếm
    </button>
    <button type="button" type="reset" class="btn btn-primary m-2 reset-color">
      <i class="fa-solid fa-rotate-right"></i>
      Làm mới
    </button>
    <button mat-raised-button (click)="openAddForm()" class="add-button" [style.background-color]="color2"
      [style.color]="w">
      <mat-icon>add</mat-icon>
      Thêm mới
    </button>
  </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"
      [style.text-align]="text"> ID </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <ng-container matColumnDef="tenPT">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Tên PT
    </th>
    <td mat-cell *matCellDef="let row"> {{row.tenPT}} </td>
  </ng-container>

  <ng-container matColumnDef="soHieuPT">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Số hiệu PT
    </th>
    <td mat-cell *matCellDef="let row"> {{row.soHieuPT}} </td>
  </ng-container>

  <ng-container matColumnDef="id_LT">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Loại tàu
    </th>
    <td mat-cell *matCellDef="let row"> {{row.id_LT}} </td>
  </ng-container>

  <ng-container matColumnDef="congSuat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Công Suất
    </th>
    <td mat-cell *matCellDef="let row"> {{row.congSuat}} </td>
  </ng-container>

  <ng-container matColumnDef="trongTai">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Trọng tải
    </th>
    <td mat-cell *matCellDef="let row"> {{row.trongTai}} </td>
  </ng-container>

  <ng-container matColumnDef="sucChua">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Sức chứa
    </th>
    <td mat-cell *matCellDef="let row"> {{row.sucChua}} </td>
  </ng-container>
<!-- 
  <ng-container matColumnDef="createDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Ngày tạo
    </th>
    <td mat-cell *matCellDef="let row"> {{row.createDate}} </td>
  </ng-container>

  <ng-container matColumnDef="updateDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w"> Ngày cập
      nhật </th>
    <td mat-cell *matCellDef="let row"> {{row.updateDate}} </td>
  </ng-container> -->

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color" [style.color]="w">Action</th>
    <td mat-cell *matCellDef="let row" style="width: 20%;">
      <!-- Chỉnh sửa -->
      <button type="button" class="btn btn-primary me-2" (click)="openEditForm(row.id)">
        <i class="fa-solid fa-pen-to-square me-2"></i>
        <span> Chỉnh sửa</span>
      </button>
      <!-- Xóa -->
      <button type="button" class="btn btn-danger" (click)="delete(row.id)">
        <i class="fa-solid fa-trash me-2"></i>
        <span>Xóa</span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>