<div id="map"></div>
    <button (click)="toggle()" id="button">
        <mat-icon id="icon">layers</mat-icon>
    </button>
    <div id="changeStyle" >
        <div>
            <input id="satellite-streets-v12" type="radio" name="rtoggle" value="cliwwg3d5015s01r12xtj0rz7">
            <label class="m-1" for="satellite-streets-v12">Satellite</label>
        </div>
        <div>
            <input id="light-v11" type="radio" name="rtoggle" value="cliu0p5oc00x201r1c9wkfxk7">
            <label class="m-1" for="light-v11">Glow</label>
        </div>
        <div>
            <input id="streets-v12" type="radio" name="rtoggle" value="cliv0rxz4000101pfh34dacuj" checked="checked">
            <label class="m-1" for="streets-v12">Day</label>
        </div>
    </div>
    <div id="instructions"></div>
