*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Rotobo', sans-serif;
} 

// @import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss';
// @import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';