<div class="contain mt-3"> 
    <h2 class="text-center m-0 text-bg-info">Tin tức nổi bật</h2>
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide d-none d-sm-block" data-bs-ride="carousel">
        <!-- <div class="carousel-indicators d-none">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-wrapper">
                    <div class="news-grid">
						<div class="news-grid-image"><img src="../../assets/c1.jpg" alt="">
							<div class="news-grid-box">
								<h1>19</h1>
								<p>Thg5</p>
							</div>
						</div>
						<div class="news-grid-txt">
							<span>Hải Phòng</span>
							<h2>Chi cục Hải quan CK cảng Hải Phòng KV 1 thông báo (CV 3007)</h2>
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> Thg5 19, 2023</li>
								<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
							</ul>
							<p>(HQ Online) - Căn cứ Điều 58 Luật Hải quan; Căn cứ Thông tư số 203/2014/TT-BTC ngày 22/12/2014 
                                của Bộ Tài chính hướng dẫn xử lý hàng hóa tồn đọng thuộc địa bàn hoạt động hải quan.</p>
							<a href="#">Xem thêm...</a>
						</div>
					</div>
                    <div class="news-grid">
						<div class="news-grid-image"><img src="../../assets/c2.jpg" alt="">
							<div class="news-grid-box">
								<h1>19</h1>
								<p>Thg5</p>
							</div>
						</div>
						<div class="news-grid-txt">
							<span>Hải Phòng</span>
							<h2>Biên phòng cửa khẩu Cảng Hải Phòng: Bắt giữ 01 đối tượng tàng trữ trái phép chất ma túy</h2>
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> Thg5 19, 2023</li>
								<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
							</ul>
							<p>(Haiphong.gov.vn) - Thông tin từ Ban Chỉ huy Biên phòng cửa khẩu Cảng Hải Phòng cho biết, đơn vị vừa bắt giữ 01 đối 
                                tượng tàng trữ trái phép chất ma túy tại khu vực cổng Công ty Cổ phần Cảng Đoạn Xá.</p>
							<a href="#">Xem thêm...</a>
						</div>
					</div>
                    <div class="news-grid">
						<div class="news-grid-image"><img src="../../assets/c5.jpg" alt="">
							<div class="news-grid-box">
								<h1>30</h1>
								<p>Thg5</p>
							</div>
						</div>
						<div class="news-grid-txt">
							<span>Đà Nẵng</span>
							<h2>Đoàn tàu sân bay Hải quân Hoa Kỳ cập cảng Đà Nẵng</h2>
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> Thg5 30, 2023</li>
								<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
							</ul>
							<p>VOV.VN - 14 giờ chiều nay (25/6), Đoàn tàu Hải quân Hoa Kỳ gồm tàu sân bay USS Ronald Reagan cùng 02 tàu tuần dương hộ 
                                tống là tàu USS Antietam – CG 54 và tàu USS Robert Smalls – CG 62 đã cập cảng Tiên Sa, thành phố Đà Nẵng</p>
							<a href="#">Xem thêm...</a>
						</div>
					</div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="card-wrapper">
                    <div class="news-grid">
						<div class="news-grid-image"><img src="../../assets/c4.jpg" alt="">
							<div class="news-grid-box">
								<h1>6</h1>
								<p>Thg6</p>
							</div>
						</div>
						<div class="news-grid-txt">
							<span>Đà Nẵng</span>
							<h2>Cảng Đà Nẵng chốt trả cổ tức 15% bằng tiền</h2>
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> Thg6 6, 2023</li>
								<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
							</ul>
							<p>Công ty Cổ phần Cảng Đà Nẵng chốt quyền trả cổ tức năm 2022 bằng tiền mặt, tỷ lệ thực hiện 15%. Với 99 triệu cổ phiếu đang lưu hành, ước tính công ty cần chi gần 150 tỷ.</p>
							<a href="#">Xem thêm...</a>
						</div>
					</div>
                    <div class="news-grid">
						<div class="news-grid-image"><img src="../../assets/cac-loai-tau-van-tai-duong-bien1.jpg" alt="">
							<div class="news-grid-box">
								<h1>15</h1>
								<p>Thg6</p>
							</div>
						</div>
						<div class="news-grid-txt">
							<span>Đà Nẵng</span>
							<h2>Hãng tàu container quốc tế Sinotrans cập cảng Đà Nẵng</h2>
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> Thg5 15, 2023</li>
								<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
							</ul>
							<p>Ngày 11/04, Công ty CP Cảng Đà Nẵng, Xí nghiệp cảng Tiên Sa – cảng Đà Nẵng đã chính thức đón chuyến 
                                tàu đầu tiên mang tên REN JIAN 6 của hãng tàu container quốc tế Sinotrans cập bến để làm hàng.</p>
							<a href="#">Xem thêm...</a>
						</div>
					</div>
                    <div class="news-grid">
						<div class="news-grid-image"><img src="../../assets/c3.jpg" alt="">
							<div class="news-grid-box">
								<h1>16</h1>
								<p>Thg5</p>
							</div>
						</div>
						<div class="news-grid-txt">
							<span>Hải Phòng</span>
							<h2>Hàn Quốc mở tuyến vận tải biển mới thường xuyên đến cảng Hải Phòng</h2>
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> Thg6 16, 2023</li>
								<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
							</ul>
							<p>Cảng vụ Ulsan (Hàn Quốc) dự đoán tuyến đường vận chuyển mới kết nối với cảng 
                                Hải Phòng sẽ tạo ra khối lượng hằng năm khoảng 24.000 TEU cho cảng Ulsan.</p>
							<a href="#">Xem thêm...</a>
						</div>
					</div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- <div id="carouselExampleCaptionsSmall" class="carousel slide d-sm-none" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="../../assets/c2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsSmall"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsSmall"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->
</div>